<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" 
          type="button" 
          (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="exCollapsingNavbar2" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" 
     routerLink="/" 
     routerLinkActive="active">Plotter App</a>
  <div [ngbCollapse]="isNavbarCollapsed" 
       class="collapse navbar-collapse" 
       id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" 
         href="/swagger" 
         target="_blank">Web API</a>
      <a class="nav-item nav-link"
         href="/hangfire/jobs/enqueued"
         target="_blank">Jobs</a>
      <a class="nav-item nav-link" 
         routerLink="/suppliers-list" 
         routerLinkActive="active"
         href="/suppliers-list">
        Suppliers List</a>
      <a class="nav-item nav-link"
         routerLink="/suppliers-grid"
         routerLinkActive="active"
         href="/suppliers-grid">
        Suppliers Grid
      </a>
    </div>
  </div>
</nav>

<h2>Web API Test</h2>
<button (click)="runTest()">Run Test</button>
<h3>Job Results</h3>
<p *ngFor="let job of jobs">
  <a 
     [href]="'/hangfire/jobs/details/' + job" 
     target="_blank">
  Hangfire Job #{{ job }}</a>
</p>
